// Colors inspired by this theme:
// https://marketplace.visualstudio.com/items?itemName=joshpeng.theme-onedark-sublime

/*****************
 * IMPORTS
 ****************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import './game.scss';

/*****************
 * VARIABLES
 ****************/
$red: #e06c75;
$green: #98c378;
$text-color: #a6b2c0;

/*****************
 * TRANSITION CLASSES
 ****************/
.red {
  color: $red !important;
}

.green  {
  color: $green !important;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/*****************
 * TYPED.JS
 ****************/
.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/*************************/

body {
  background-color: #282c34;
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  // height: 90vh; pushes the image outside the top
  // find another way to center content on big screens
  padding: 40px 0;
  text-align: center;
  // app layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin: 10px;
    width: 150px;
    height: 150px;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 300;
    color: $green;
  }
}

.welcome-message {
  min-height: 7em;
  margin: 20px;
  text-transform: uppercase;
  font-family: Courier New, Courier, monospace;
  font-size: 2em;
}

.buttons-container {
  min-width: 50vw;
  min-height: 200px;
  padding: 10px;
  // button row layout
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.start-button {
  min-width: 200px;
  padding: 10px;
  flex-shrink: 0;
  transition: color 0.5s ease;
  cursor: pointer;

  // inner button layout
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 5em;
    margin-bottom: 8px;
  }

  p {
    color: $green;
    font-size: 1.2em;
    font-weight: 300;
  }

  img {
    width: 3em;
    height: 3em;
  }
}