$border: 2px solid #a6b2c0;

// game wrapper
.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/*****************
 * ROBOT
 ****************/
.minimax {
  align-self: flex-start;
  width: 90vw;
  margin: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  img {
    align-self: center;
    margin: 10px;
    width: 15vw;
    max-width: 125px;
  }
}

.dialog {
  width: 75vw;
  height: 100px;
  margin: 10px;
  background-color: #1D1F23;
  border-radius: 5px;
  align-self: flex-end;

  p {
    margin-left: 15px;
    margin-right: 15px;
    text-transform: uppercase;
    font-family: Courier New, Courier, monospace;
    font-size: 1.25em;
    font-weight: 500;
  }
}

/*****************
 * GAME BOARD
 ****************/
.board {
  display: table;
  margin: 25px;
  width: 300px;
  table-layout: fixed;
  user-select: none;
  cursor: default;
}

.row {
  display: table-row;
  height: 100px;
}

.cell {
  display: table-cell;
  font-size: 5em;
  text-align: center;
  vertical-align: middle;
}

// border set up to have them all aligned correctly
#top-left, #top-center, #middle-left, #middle-center {
  border-right: $border;
  border-bottom: $border;
}

#top-right, #middle-right {
  border-bottom: $border;
}

#bottom-center {
  border-right: $border;
}

#bottom-left {
  border-right: $border;
}

/*****************
 * MODAL
 ****************/
.choice {
  width: 200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  // layout
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  // content
  h1 {
    margin-top: 0;
  }

  h3 {
    cursor: pointer;
    user-select: none;
    margin: 15px;
    margin-top: 20px;
    margin-left: 0;

    span {
      transition: opacity 100ms ease;
    }
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 250px;
  @include media('<375px') {
    width: 200px;
  }
  @include media('height<400px') {
    width: 200px;
    height: 200px;
  }
  border: none;
  background: #282c34;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

// Modal transitions
.ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  opacity: 0;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.ReactModal__Content {
  transition: all 500ms ease-in-out;
  opacity: 0;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}